.MultilingualSelect {
    position: relative;
}

.MultilingualSelect-button {
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.MultilingualSelect-button:focus {
    outline: none;
}

.MultilingualSelect-button, .MultilingualSelect-item {
    position: relative;
    padding-left: 45px;
    min-height: 30px;
}

.MultilingualSelect-itemLink {
    color: #000;
    text-transform: uppercase;
}

.MultilingualSelect-itemLink:hover,
.MultilingualSelect-itemLink:focus {
    color: #000;
}

.MultilingualSelect-items {
    position: absolute;
    top: auto;
    left: 0;
}

.MultilingualSelect-item .MultilingualSelect-itemLink {
    display: block;
}

.MultilingualSelect-itemFlag {
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    vertical-align: middle;
    transform: translateY(-50%);
}